/* Work sans fonts import from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared-styles  */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;

}

a {
    color: #131313;
    text-decoration: none;
}

.primary-btn {
    color: #131313;
    border-radius: 6px;
    background: #FF900E;
    border: 0;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

/* nav-section-style-goes-here  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 228px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.2rem;

}

.nav-tittle {
    color: #131313;
    font-size: 2.1rem;
}

/* Banner-part-style-here  */
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-tittle {
    color: #131313;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 100px;

}

.banner-description {
    color: #727272;
    font-size: 1rem;
    margin: 25px 0px;

}

.main-banner img {
    margin-top: 50px;
    width: 100%;
}


/* main-section-start here  */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.team-content {
    padding: 30px 0px;
    padding-left: 76px;
    
}

.quick {
    color: #727272;
    font-weight: 500;
}

.of {
    color: #131313;
}

.features {
    color: #FF900E;
}

.team-tittle {
    font-size: 2.8125rem;
    font-weight: 700;
   
}
.team-description {
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Facts section goes here  */
.facts-description{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-top: 20px;
}

.card-container{
    display: flex;
    justify-content: space-around;
     
}
.facts-text{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0px 20px;
}

.card{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}
.card img{
    width: 35px;
    height: 35px;
}
.card-stats{
  font-size: 2rem;
  color: #131313;
  font-weight: 600;
  margin-top: 8px;
}
.card-tittle{
    font-size: 1.15rem;
    font-weight: 600;
    color: #727272;
    margin-top: 8px;
}
/* sponsor-ship-container */
.sponsar-ship{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

/* media query for hedaer section  */
/* For mobile devices  */
@media screen and (max-width:576px) {
   
    header {
        padding: 10px;
    }

    .banner-tittle {
        font-size: 2rem;
        padding: 0px;
        margin-top: 40px;
    }

    nav ,.team-container,.card-container, .sponsar-ship {
        flex-direction: column;
        gap: 25px;
    }
    .team-image{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding: 40px;
    }  
  .card{
  width: 50%;
  margin: 0 auto;
  }
  .sponsor-card img{
    margin-bottom: 15px;
    width: 140px;
  }
}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:1082px) {
    nav,.team-container {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        display: flex;
        margin: 0px;
    }

    .banner-tittle {
        font-size: 2rem;
        margin-top: 50px;
    }

    header {
        padding: 10px;
    }
}

