/* Work sans fonts import from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
   
}
a{
    color: #131313;
    text-decoration: none;
}

/* nav-section-style-goes-here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);
    padding:50px 228px;
}
nav>ul{
    display: flex;
    
}
nav ul li{
   list-style: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1.2rem;

}
.nav-tittle{
    color: #131313;
    font-size: 2.1rem;
}
